#search {
    background-color: #4ed853;
}

.btnSearch {
    border-radius: 0 20px 20px 0;
    background-color: #3daa41;
    border: none;
}

.btnSearch:hover, .btnSearch:focus {
    background-color: #42bd46;
}

.input {
    border-radius: 20px 0 0 20px;
}